.calculadora {
    background-color: rgb(70, 0, 136); 
    width: 200px;
    padding: 10px;
}

#btnCalc {
    background-color: rgb(146, 140, 140);
    color: rgb(255, 255, 255);
    padding: 5px;
}
#bntCalc:hover {
     background-color: darkmagenta;
     color: rgb(0, 0, 0);
     cursor: pointer;
}
