.calculadora {
    background: rgb(18, 37, 122);
    width: 200px;
    padding: 10px;
}
#btnCalc {
    background: rgb(133, 41, 194);
    color: white;
    padding: 5px;
}
#btnCalc:hover {
    background: rgb(140, 92, 155);
    color: black;
    cursor: pointer;
}
.spResultado{
    background-color: black;
    color: cadetblue;
    padding: 4px;
    margin: 2px;
}
